[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
keras = "*"
pandas = "*"
matplotlib = "*"
tensorflow = "*"
pydot = "*"
graphviz = "*"

[requires]
python_version = "3.7"
